{% extends 'base.html' %}
{% block title %}Cursos{% endblock %}
{% load static %}

{% block content %}

<main style="padding: 20px 200px;">

  <h1>Categorias</h1>
  <section style="display: flex; width: 100%; justify-content: center; gap: 60px;">
    {% for categories in categories %}
      <div class="row">
        <div class="col-lg-4"
          style="width: 420px; display: flex; flex-direction: column; align-items: center; text-align: center; word-break: break-all;">
          <img class="bd-placeholder-img rounded-circle" width="140" height="140" role="img" aria-label="Placeholder"
            src="{{ categories.image.url }}" />
          <h2 class="fw-normal">{{ categories.name }}</h2>
          <p style="display: -webkit-box; -webkit-line-clamp: 3;-webkit-box-orient: vertical;
          overflow: hidden;">{{ categories.description }}</p>
          <p><a class="btn btn-secondary" href="{% url 'detail_category' categories.id %}">Ver Mais »</a></p>
        </div>
      </div>
    {% endfor %}
  </section>

  <h1>Post em Destaque</h1>
  <section>
    {% for posts_relevant in posts_relevant %}
    <div class="card mb-3">
      <img src="{{ posts_relevant.image.url }}" class="card-img-top" style="max-height: 500px; object-fit: cover;">
      <div class="card-body">
        <a class="card-title" href="{% url 'detail' posts_relevant.id %}">{{ posts_relevant.title }}</a>
        <p class="card-text">{{ posts_relevant.content }}</p>
        <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
      </div>
    </div>
    {% endfor %}
  </section>

  <h1>Post Recentes</h1>
  <section>
    <div class="card-group" style="display: flex; ">
      {% for posts_recents in posts_recents %}
      <div class="card" style="max-width: 250px;">
        <img src="{{ posts_recents.image.url }}" class="card-img-top"
          style="object-fit: cover; width: 250px; height: 180px;">
        <div class="card-body">
          <a class="card-title" href="{% url 'detail' posts_recents.id %}">{{ posts_recents.title }}</a>
          <p class="card-text">{{ posts_recents.content }}</p>
          <p class="card-text"><small class="text-body-secondary">{{ posts_recents.author }}</small></p>
        </div>
      </div>
      {% endfor %}
    </div>
  </section>
</main>


{% endblock %}