{% extends 'base.html' %} 
{% block title %}Cursos{% endblock %} 
{% load static %}

{% block content %}

<section class="section">
  <div>
    <h2>
      Posts Recentes
    </h2>
  </div>
  <div class="container">
    <div class="post-relevant">
      {% for posts_relevant in posts_relevant %}
          <div class="image-default">
            <img src="{{ posts_relevant.image.url }}" alt="" class="post-image">
          </div>
          <div class="infos-post-relevant">
            <p id="author">{{ posts_relevant.author }}</p>
            <h3 id="name-post">{{ posts_relevant.title }}</h3>
            <p id="about-post-relevant">{{ posts_relevant.content }}</p>
          </div>
      {% endfor %}
    </div>

    <div class="grid-posts">
      {% for posts_recents in posts_recents %}
        <div class="section-post">
          <img src="{{ posts_recents.image.url }}" alt="" class="post-image">
          <div class="infos-post">
            <p id="author">{{ posts_recents.author }}</p>
            <h3 id="name-post">{{ posts_recents.title }}</h3>
            <p id="about-post">{{ posts_recents.content }}</p>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
<section class="section">
  <div>
    <h2>
      Todos os Posts
    </h2>
  </div>
  <div class="grid-posts-3">
    {% for all_posts in all_posts %}
      <div class="section-post-colum">
        <img src="{{ all_posts.image.url }}" alt="" class="post-image">
          <div class="infos-post">
            <p id="author">{{ all_posts.author }}</p>
            <h3 id="name-post">{{ all_posts.title }}</h3>
            <p id="about-post">{{ all_posts.content}}</p>
          </div>
      </div>
    {% endfor %}
  </div>
</section>

{% endblock %}