{% extends 'base.html' %}
{% block title %}{{ category.name }}{% endblock %}

{% block content %}	

<section class="py-5">
  <div class="container">
    <div class="row gx-5">
      <aside class="col-lg-6">
        <div class="border rounded-4 mb-3 d-flex justify-content-center">
          <img style="max-width: 100%; max-height: 100vh; margin: auto; object-fit: contain;" class="rounded-4 fit" src="{{ category.image.url }}" />
        </div>
      </aside>
      <main class="col-lg-6">
        <div class="ps-lg-3">
          <h4 class="title text-dark">{{ category.name }} </h4>
          <p style="width: 500px; overflow: hidden; word-break: break-all;">
            {{ category.description }}
          </p>

          <hr />
        </div>
      </main>
    </div>
  </div>
</section>
{% endblock %}