@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

body {
  font-family: DM Sans, sans-serif;
  padding: 0px 5%;
}



header {
  width: 100%;
  height: 60px;

  display: flex;
  justify-content: space-between;
}

header h1 {
  color: #1A1A1A;
  font-size: 20px;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
}

nav ul {
  display: flex;
  gap: 20px;

  li {
    list-style: none;
  }

  a {
    text-decoration: none;
    color: #1A1A1A;
    font-size: 20px;
  }
}

.container {
  display: flex;
  gap: 32px;
}

.image-default img {
  width: 592px;
  height: 228px;
  border-radius: 8px;
  object-fit: cover;
}

.section-post {
  display: flex;
  gap: 20px;
  max-width: 592px;
}

.section-post-colum {
  display: flex;
  flex-direction: column;
  max-width: 383px;
  gap: 32px;
}

.section-post-colum img {
  width: 384px;
  height: 228px;
  border-radius: 8px;
  object-fit: cover;
}

.section-post img {
  width: 384px;
  height: 240px;
  border-radius: 8px;
  object-fit: cover;
}

#author {
  margin: 0px;
  color: #6941C6;
  font-size: 14px;
  font-weight: 600;
}

#name-post {
  margin: 0px;
  max-width: 248px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#about-post {
  margin: 0px;
  max-width: 248px;
  color: #667085;
  max-height: 200px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

.post-relevant {
  display: flex;
  flex-direction: column;
  gap: 32px;
}


.infos-post {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.infos-post-relevant {
  display: flex;
  flex-direction: column;
  max-width: 592px;
  gap: 12px;
}

#about-post-relevant {
  margin: 0px;
  max-width: 592px;
  color: #667085;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
}

.grid-posts {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.grid-posts-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}